{% extends 'myapp/base.html' %}  
{% load static %}

{% block footer %}

    <div id="footerTop"></div>
        <div id="footer">
            <div id='footerContainer'>
                <div>
                    <p className="footerTitle">ADDRESS</p>
                    <p>Oregon City United Methodist Church</p>
                    <p>18955 S. South End Rd.</p>
                    <p>Oregon City, OR 97045-8331</p>
                </div>
                <div>
                    <p className="footerTitle">CONTACT</p>
                    <p>(503) 957-6161</p>
                    <p>willamettefallssymphony@gmail.com</p>
                </div>
                <div id="footerLinks">
                    <div>
                        <p className="footerLink">EVENTS</p>
                        <p className="footerLink">DONATE</p>
                    </div>
                    <div>
                        <p className="footerLink">CONTACT</p>
                        <p className="footerLink">NEWSLETTER</p>
                    </div>
                </div>
            </div>
        <div id="footerBottom">
            <p>WILLAMETTE FALLS SYMPHONY, 2021</p>
            <p>Odyssey Web Design</p>
        </div>
    </div>

{% endblock abc %}